In [26]:
import pandas as pd
import numpy as np

In [27]:
top = pd.read_csv('../data/top_df.csv')
middle = pd.read_csv('../data/middle_df.csv')
lower = pd.read_csv('../data/lower_df.csv')

In [28]:
middle_true_mask = middle.tn == 0
middle_true = middle[middle_true_mask]
middle_false_mask = middle.tp == 0
middle_false = middle[middle_false_mask]

In [29]:
middle_true.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 1998
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   precision   1000 non-null   float64
 2   accuracy    1000 non-null   float64
 3   recall      1000 non-null   float64
 4   f1          1000 non-null   float64
 5   npv         1000 non-null   float64
 6   tp          1000 non-null   int64
 7   fp          1000 non-null   int64
 8   tn          1000 non-null   int64
 9   fn          1000 non-null   int64
dtypes: float64(5), int64(5)
memory usage: 85.9 KB

In [30]:
middle

,Unnamed: 0,precision,accuracy,recall,f1,npv,tp,fp,tn,fn
0,0,0.618577,0.618577,1.0,0.764347,0.000000,626,386,0,0
1,1,0.000000,0.381423,0.0,0.000000,0.381423,0,0,386,626
2,2,0.618669,0.618669,1.0,0.764417,0.000000,623,384,0,0
3,3,0.000000,0.381331,0.0,0.000000,0.381331,0,0,384,623
4,4,0.619295,0.619295,1.0,0.764894,0.000000,597,367,0,0
...,...,...,...,...,...,...,...,...,...,...
1995,1995,0.000000,0.387904,0.0,0.000000,0.387904,0,0,372,587
1996,1996,0.624744,0.624744,1.0,0.769037,0.000000,611,367,0,0
1997,1997,0.000000,0.375256,0.0,0.000000,0.375256,0,0,367,611
1998,1998,0.615536,0.615536,1.0,0.762021,0.000000,626,391,0,0
1999,1999,0.000000,0.384464,0.0,0.000000,0.384464,0,0,391,626

In [31]:
np.mean(top)

Unnamed: 0    499.500000
precision       0.755070
accuracy        0.755070
recall          1.000000
f1              0.860436
npv             0.000000
tp            472.033000
fp            153.143000
tn              0.000000
fn              0.000000
dtype: float64

In [32]:
np.mean(middle_false)

Unnamed: 0    1000.000000
precision        0.000000
accuracy         0.381503
recall           0.000000
f1               0.000000
npv              0.381503
tp               0.000000
fp               0.000000
tn             383.280000
fn             621.368000
dtype: float64

In [33]:
np.mean(middle_true)

Unnamed: 0    999.000000
precision       0.618497
accuracy        0.618497
recall          1.000000
f1              0.764278
npv             0.000000
tp            621.368000
fp            383.280000
tn              0.000000
fn              0.000000
dtype: float64

In [34]:
np.mean(lower)

Unnamed: 0    499.500000
precision       0.000000
accuracy        0.637567
recall          0.000000
f1              0.000000
npv             0.637567
tp              0.000000
fp              0.000000
tn            324.577000
fn            184.599000
dtype: float64

In [35]:
top_50 = pd.read_csv('../data/top__50.csv')
middle_false_50 = pd.read_csv('../data/middle_false_50.csv')
middle_true_50 = pd.read_csv('../data/middle_true_50.csv')

lower_50 = pd.read_csv('../data/lower_50.csv')

In [36]:
np.mean(top_50)
np.mean(top)

Unnamed: 0    499.500000
precision       0.755210
accuracy        0.755210
recall          1.000000
f1              0.860526
npv             0.000000
tp            471.783000
fp            152.954000
tn              0.000000
fn              0.000000
dtype: float64

In [37]:
np.mean(middle_false_50)
np.mean(middle_false)

Unnamed: 0    1000.000000
precision        0.000000
accuracy         0.410982
recall           0.000000
f1               0.000000
npv              0.410982
tp               0.000000
fp               0.000000
tn             515.264000
fn             738.498000
dtype: float64

In [43]:
print(np.mean(middle_true_50))
print(np.mean(middle_true))

Unnamed: 0    999.000000
precision       0.589018
accuracy        0.589018
recall          1.000000
f1              0.741357
npv             0.000000
tp            738.498000
fp            515.264000
tn              0.000000
fn              0.000000
dtype: float64
Unnamed: 0    999.000000
precision       0.618497
accuracy        0.618497
recall          1.000000
f1              0.764278
npv             0.000000
tp            621.368000
fp            383.280000
tn              0.000000
fn              0.000000
dtype: float64

In [42]:
print(np.mean(lower_50))
print(np.mean(lower))
print(len(lower))
print(len(lower_50))

Unnamed: 0    499.500000
precision       0.000000
accuracy        0.740127
recall          0.000000
f1              0.000000
npv             0.740127
tp              0.000000
fp              0.000000
tn            192.782000
fn             67.719000
dtype: float64
Unnamed: 0    499.500000
precision       0.000000
accuracy        0.637567
recall          0.000000
f1              0.000000
npv             0.637567
tp              0.000000
fp              0.000000
tn            324.577000
fn            184.599000
dtype: float64
1000
1000