In [14]:
import pandas as pd
import sqlite3

pd.set_option("display.max_columns", 100)
conn = sqlite3.connect("drivehud.db")


hand_players = pd.read_sql_query("select * from HandsPlayers;", conn)
tour = pd.read_sql_query("select * from Tournaments;", conn) # pretty sure these all connect to form a more full picture
hand_history = pd.read_sql_query("select * from HandHistories;", conn)

In [15]:
hand_players.head()

   HandPlayerId  HandId  PlayerId  Currency  NetWon
0             1     145        36         1     252
1             2     145        37         1       0
2             3     145        38         1    -188
3             4     145        39         1     -72
4             5     145        40         1       0

In [16]:
# what time of day should I play?
# should i play higher stakes?
# am I better off leaving my poker earnings in bitcoin?
    # results orientated to think this way?
# what gives me the most poker for my $
#

In [17]:
tour_grouped = tour.groupby('TournamentNumber')

In [18]:
tour_grouped = tour_grouped.max()
tour_grouped = tour_grouped.sort_values('LastHandTimestamp', ascending = False)

In [23]:
mask = tour.PlayerId == 1
just_player_1 = tour[mask]

just_player_1.value_counts('PlayerEndPosition')

just_player_1.tail(14)

,TournamentId,TournamentNumber,PokerSiteId,Tag,BuyIn,Rake,Currency,Filename,FileLastModifiedTime,ImportType,GameType,SpeedType,TablesQty,TournamentSize,TableSize,StartingStacks,PlayerId,FirstHandTimestamp,LastHandTimestamp,PlayerFinished,PlayerEndPosition,Winnings,Rebuy,Bounty
8329,8336,40003904,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-01 02:46:26,2021-02-01 02:53:47,0,5,0,0,None
8335,8342,40004320,1,STT,500,25,1,,0001-01-01 00:00:00,0,1,2,1,6,6,1500,1,2021-02-01 03:05:12,2021-02-01 03:46:16,0,5,0,0,None
8341,8348,40011920,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-01 13:18:56,2021-02-01 13:25:47,0,5,0,0,None
8347,8354,40011874,1,STT,500,25,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-01 13:28:33,2021-02-01 13:44:13,0,1,1950,0,None
8353,8360,40028585,1,STT,500,25,1,,0001-01-01 00:00:00,0,1,2,1,6,6,1500,1,2021-02-02 06:45:31,2021-02-02 07:08:50,0,1,1000,0,None
8359,8366,40028993,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-02 07:16:46,2021-02-02 07:25:07,0,6,0,0,None
8365,8372,40029208,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-02 07:27:44,2021-02-02 07:38:32,0,1,390,0,None
8371,8378,40029897,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-02 08:23:31,2021-02-02 08:39:11,0,1,390,0,None
8377,8384,40030055,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-02 08:41:08,2021-02-02 08:54:14,0,1,390,0,None
8383,8390,40032525,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-02 14:18:58,2021-02-02 14:25:34,0,5,0,0,None
8389,8396,40032611,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-02 14:28:21,2021-02-02 14:41:52,0,1,390,0,None
8395,8402,40051509,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-03 13:28:36,2021-02-03 13:40:41,0,3,0,0,None
8401,8408,40065519,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:09:19,2021-02-04 04:16:19,0,6,0,0,None
8407,8414,40065723,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:17:27,2021-02-04 04:21:29,0,6,0,0,None

In [20]:
hand_hist_mod = hand_history.copy()
hand_hist_mod.drop(['PokerSiteId'], axis = 1, inplace = True)

In [22]:
df = pd.merge(hand_hist_mod,just_player_1, on = 'TournamentNumber' )
df.tail(10)

,HandHistoryId,HandNumber,HandHistory,HandHistoryTimestamp,GameType_x,TournamentNumber,TournamentId,PokerSiteId,Tag,BuyIn,Rake,Currency,Filename,FileLastModifiedTime,ImportType,GameType_y,SpeedType,TablesQty,TournamentSize,TableSize,StartingStacks,PlayerId,FirstHandTimestamp,LastHandTimestamp,PlayerFinished,PlayerEndPosition,Winnings,Rebuy,Bounty
34618,49296,4249930201,"<session sessioncode=""459642"">\r\n<general>\r\...",2021-02-04 04:13:39,78,40065519,8408,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:09:19,2021-02-04 04:16:19,0,6,0,0,None
34619,49297,4249931267,"<session sessioncode=""459642"">\r\n<general>\r\...",2021-02-04 04:14:48,78,40065519,8408,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:09:19,2021-02-04 04:16:19,0,6,0,0,None
34620,49298,4249932178,"<session sessioncode=""459642"">\r\n<general>\r\...",2021-02-04 04:15:35,79,40065519,8408,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:09:19,2021-02-04 04:16:19,0,6,0,0,None
34621,49299,4249932864,"<session sessioncode=""459642"">\r\n<general>\r\...",2021-02-04 04:16:19,79,40065519,8408,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:09:19,2021-02-04 04:16:19,0,6,0,0,None
34622,49300,4249933472,"<session sessioncode=""2297128"">\r\n<general>\r...",2021-02-04 04:17:27,77,40065723,8414,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:17:27,2021-02-04 04:21:29,0,6,0,0,None
34623,49301,4249934262,"<session sessioncode=""2297128"">\r\n<general>\r...",2021-02-04 04:19:06,77,40065723,8414,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:17:27,2021-02-04 04:21:29,0,6,0,0,None
34624,49302,4249935613,"<session sessioncode=""2297128"">\r\n<general>\r...",2021-02-04 04:19:33,77,40065723,8414,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:17:27,2021-02-04 04:21:29,0,6,0,0,None
34625,49303,4249936078,"<session sessioncode=""2297128"">\r\n<general>\r...",2021-02-04 04:20:33,78,40065723,8414,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:17:27,2021-02-04 04:21:29,0,6,0,0,None
34626,49304,4249936856,"<session sessioncode=""2297128"">\r\n<general>\r...",2021-02-04 04:21:01,78,40065723,8414,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:17:27,2021-02-04 04:21:29,0,6,0,0,None
34627,49305,4249937217,"<session sessioncode=""2297128"">\r\n<general>\r...",2021-02-04 04:21:29,78,40065723,8414,1,STT,100,5,1,,0001-01-01 00:00:00,0,1,4,1,6,6,500,1,2021-02-04 04:17:27,2021-02-04 04:21:29,0,6,0,0,None

In [24]:
hand_history.HandHistory.iloc[-2].split('\r\n')

['<session sessioncode="2297128">',
 '<general>',
 '<client_version>19.9.7.4</client_version>',
 '<uncalled_bet_enabled>false</uncalled_bet_enabled>',
 '<mode>real</mode>',
 '<gametype>Holdem NL</gametype>',
 '<tablename>Hyper Turbo (500 Chips) (#40065723)</tablename>',
 '<duration>N/A</duration>',
 '<gamecount>0</gamecount>',
 '<startdate>2021-02-04 04:16:37</startdate>',
 '<currency>USD</currency>',
 '<nickname>Hero</nickname>',
 '<bets>0</bets>',
 '<wins>0</wins>',
 '<chipsin>0</chipsin>',
 '<chipsout>0</chipsout>',
 '<ipoints>0</ipoints>',
 '<statuspoints>0</statuspoints>',
 '<awardpoints>0</awardpoints>',
 '<tournamentcode>40065723</tournamentcode>',
 '<tournamentname>Hyper Turbo (500 Chips) (#40065723)</tournamentname>',
 '<place>6</place>',
 '<buyin>$1+$0.05</buyin>',
 '<totalbuyin>$1.05</totalbuyin>',
 '<win>0</win>',
 '<maxplayers>6</maxplayers>',
 '<pokersite>Ignition</pokersite>',
 '</general>',
 '<game gamecode="4249936856">',
 '<general>',
 '<startdate>2021-02-04 04:21:01</startdate>',
 '<players>',
 '<player seat="1" name="P5_671793XV" chips="840" dealer="0" win="0" bet="0" rebuy="0" addon="0" />',
 '<player seat="2" name="P2_414718AT" chips="460" dealer="0" win="965" bet="460" rebuy="0" addon="0" />',
 '<player seat="3" name="Hero" chips="790" dealer="0" win="330" bet="790" rebuy="0" addon="0" />',
 '<player seat="5" name="P3_826370HL" chips="410" dealer="0" win="0" bet="15" rebuy="0" addon="0" />',
 '<player seat="6" name="P1_719096MR" chips="500" dealer="0" win="0" bet="30" rebuy="0" addon="0" />',
 '</players>',
 '</general>',
 '<round no="0">',
 '<action no="1" player="P3_826370HL" type="1" sum="15" cards="[cards]" />',
 '<action no="2" player="P1_719096MR" type="2" sum="30" cards="[cards]" />',
 '</round>',
 '<round no="1">',
 '<cards type="Pocket" player="P5_671793XV">X X</cards>',
 '<cards type="Pocket" player="P2_414718AT">D6 S6</cards>',
 '<cards type="Pocket" player="Hero">DQ CA</cards>',
 '<cards type="Pocket" player="P3_826370HL">X X</cards>',
 '<cards type="Pocket" player="P1_719096MR">X X</cards>',
 '<action no="3" player="P5_671793XV" type="0" sum="0" cards="" />',
 '<action no="4" player="P2_414718AT" type="7" sum="460" cards="" />',
 '<action no="5" player="Hero" type="7" sum="790" cards="" />',
 '<action no="6" player="P3_826370HL" type="0" sum="0" cards="" />',
 '<action no="7" player="P1_719096MR" type="0" sum="0" cards="" />',
 '</round>',
 '<round no="2">',
 '<cards type="Flop" player="">DJ C9 D9</cards>',
 '</round>',
 '<round no="3">',
 '<cards type="Turn" player="">C10</cards>',
 '</round>',
 '<round no="4">',
 '<cards type="River" player="">D3</cards>',
 '</round>',
 '</game>',
 '</session>']

In [12]:
hand_history.HandHistory.iloc[-2].split('\r\n')

['<session sessioncode="2297128">',
 '<general>',
 '<client_version>19.9.7.4</client_version>',
 '<uncalled_bet_enabled>false</uncalled_bet_enabled>',
 '<mode>real</mode>',
 '<gametype>Holdem NL</gametype>',
 '<tablename>Hyper Turbo (500 Chips) (#40065723)</tablename>',
 '<duration>N/A</duration>',
 '<gamecount>0</gamecount>',
 '<startdate>2021-02-04 04:16:37</startdate>',
 '<currency>USD</currency>',
 '<nickname>Hero</nickname>',
 '<bets>0</bets>',
 '<wins>0</wins>',
 '<chipsin>0</chipsin>',
 '<chipsout>0</chipsout>',
 '<ipoints>0</ipoints>',
 '<statuspoints>0</statuspoints>',
 '<awardpoints>0</awardpoints>',
 '<tournamentcode>40065723</tournamentcode>',
 '<tournamentname>Hyper Turbo (500 Chips) (#40065723)</tournamentname>',
 '<place>6</place>',
 '<buyin>$1+$0.05</buyin>',
 '<totalbuyin>$1.05</totalbuyin>',
 '<win>0</win>',
 '<maxplayers>6</maxplayers>',
 '<pokersite>Ignition</pokersite>',
 '</general>',
 '<game gamecode="4249936856">',
 '<general>',
 '<startdate>2021-02-04 04:21:01</startdate>',
 '<players>',
 '<player seat="1" name="P5_671793XV" chips="840" dealer="0" win="0" bet="0" rebuy="0" addon="0" />',
 '<player seat="2" name="P2_414718AT" chips="460" dealer="0" win="965" bet="460" rebuy="0" addon="0" />',
 '<player seat="3" name="Hero" chips="790" dealer="0" win="330" bet="790" rebuy="0" addon="0" />',
 '<player seat="5" name="P3_826370HL" chips="410" dealer="0" win="0" bet="15" rebuy="0" addon="0" />',
 '<player seat="6" name="P1_719096MR" chips="500" dealer="0" win="0" bet="30" rebuy="0" addon="0" />',
 '</players>',
 '</general>',
 '<round no="0">',
 '<action no="1" player="P3_826370HL" type="1" sum="15" cards="[cards]" />',
 '<action no="2" player="P1_719096MR" type="2" sum="30" cards="[cards]" />',
 '</round>',
 '<round no="1">',
 '<cards type="Pocket" player="P5_671793XV">X X</cards>',
 '<cards type="Pocket" player="P2_414718AT">D6 S6</cards>',
 '<cards type="Pocket" player="Hero">DQ CA</cards>',
 '<cards type="Pocket" player="P3_826370HL">X X</cards>',
 '<cards type="Pocket" player="P1_719096MR">X X</cards>',
 '<action no="3" player="P5_671793XV" type="0" sum="0" cards="" />',
 '<action no="4" player="P2_414718AT" type="7" sum="460" cards="" />',
 '<action no="5" player="Hero" type="7" sum="790" cards="" />',
 '<action no="6" player="P3_826370HL" type="0" sum="0" cards="" />',
 '<action no="7" player="P1_719096MR" type="0" sum="0" cards="" />',
 '</round>',
 '<round no="2">',
 '<cards type="Flop" player="">DJ C9 D9</cards>',
 '</round>',
 '<round no="3">',
 '<cards type="Turn" player="">C10</cards>',
 '</round>',
 '<round no="4">',
 '<cards type="River" player="">D3</cards>',
 '</round>',
 '</game>',
 '</session>']

In [13]:
hand_history.head(20)

,HandHistoryId,HandNumber,PokerSiteId,HandHistory,HandHistoryTimestamp,GameType,TournamentNumber
0,1,3951210633,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:08:08,1,459742
1,2,3951211988,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:09:34,1,459742
2,3,3951212830,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:11:47,1,459742
3,4,3951214131,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:13:37,1,459742
4,5,3951215154,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:14:31,1,459742
5,6,3951215671,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:15:05,1,459742
6,7,3951216006,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:16:28,1,459742
7,8,3951216846,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:16:54,2,459742
8,9,3951217086,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:18:09,2,459742
9,10,3951217800,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:19:21,2,459742
10,11,3951218535,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:20:27,2,459742
11,12,3951219113,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:21:56,2,459742
12,13,3951220007,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:22:49,2,459742
13,14,3951220479,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:24:26,2,459742
14,15,3951221437,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:25:15,2,459742
15,16,3951221912,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:26:34,2,459742
16,17,3951222673,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:27:26,3,459742
17,18,3951223190,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:28:02,3,459742
18,19,3951223530,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:29:34,3,459742
19,20,3951224357,1,"<session sessioncode=""459742"">\r\n<general>\r\...",2019-10-24 03:31:09,3,459742