In [30]:
# maybe just remove 'Tag entirely'
# consider just looking at 1 type of tournament

In [1]:
import pandas as pd
import sqlite3
import numpy as np 
from datetime import datetime, date, timedelta 

pd.set_option("display.max_columns", 100)
conn = sqlite3.connect("drivehud.db")


df = pd.read_sql_query("select * from Tournaments;", conn) # pretty sure these all connect to form a more full picture

In [2]:
def just_me(input_df):
    df = input_df.copy()
    mask = df.PlayerId == 1
    df_me = df[mask]
    return df_me

def remove_extra_columns(input_df):
    # tournament size most likely riddled with errors, but may be useful for <= 6 
    # consider looking at bounty but as of now it seems as though it is useless 
    df = input_df.copy()
    df.drop(['PokerSiteId', 'TournamentId', 'Currency', 'GameType', 'PlayerId', 'FileLastModifiedTime', 'ImportType', 'Bounty', 'Filename', 'PlayerFinished'], axis = 1, inplace = True)
    return df 

def net_winnings(input_df):
    df = input_df.copy()
    df['NetWinnings'] = df.Winnings - df.BuyIn - df.Rake
    return df 

def to_datetime(input_df):
    df = input_df.copy()
    df['FirstHandTimestamp'] = pd.to_datetime(df['FirstHandTimestamp'])
    df['LastHandTimestamp'] = pd.to_datetime(df['LastHandTimestamp'])
    return df

def create_roi(input_df):
    df = input_df.copy()
    #df['ROI'] = 0
    df['ROI'] = np.where(df['BuyIn']!= 0 ,(100 * df['NetWinnings'] / (df['BuyIn'] + df['Rake'])), 'ignore')
    #df['ROI'] = np.where(df['ROI']!= 'ignore', )
    return df

def total_buyin(input_df):
    df = input_df.copy()
    df['total_buyin'] = df.BuyIn + df.Rake
    return df

def time_started(row):
    result = row.time().strftime('%H:%M')
    hour = int(result[:2])
    time = int(result[-2:]) / 60
    result = hour + time 
    return result

def time_finished(row):
    result = row.time().strftime('%H:%M')
    hour = int(result[:2])
    time = int(result[-2:]) / 60
    result = hour + time 
    return result

def date_of_game(input_df):
    df = input_df.copy()
    df['date'] = df.FirstHandTimestamp.dt.date 
    return df

def day_progression(input_df):
    df = input_df.copy()
    to_sub = df.date.min()
    
    df['days_since_start'] = (df.date - to_sub)
    df['days_since_start'] = df.days_since_start.dt.days
    return df

def above_combined(input_df):
    df = input_df.copy()
    df = just_me(df)
    df = remove_extra_columns(df)
    df = net_winnings(df)
    df = to_datetime(df)
    df = create_roi(df)
    df = total_buyin(df)
    df['time_started'] = df.FirstHandTimestamp.apply(lambda row: time_started(row))
    df['time_ended'] = df.LastHandTimestamp.apply(lambda row: time_finished(row))
    df = date_of_game(df)
    df = day_progression(df)
    return df

In [3]:
df = above_combined(df)

In [208]:
def weekly_df(input_df):
    df = input_df.copy()
    result = pd.DataFrame()
    consider = np.array([0,1,2,3,4,5,6])
    idx = 0
    
    while consider[0] <= df.days_since_start.max():
        temp = pd.DataFrame()
        for num in consider:
            mask = df.days_since_start == num
            temp = temp.append(df[mask])
        if len(temp) > 0:
            mask = temp.Tag == 'MTT'
            mtt = temp[mask]
            percent_mtt = len(mtt) / len(temp)
            
            single_row = pd.DataFrame({'percent_mtt':  percent_mtt, 
                                      'SpeedType': temp.SpeedType.mean(),
                                      'TournamentSize': temp.TournamentSize.mean(),
                                      'TableSize' : temp.TableSize.mean(),
                                      'StartingStacks': temp.StartingStacks.mean(),
                                      'NetWinnings'  : temp.NetWinnings.sum(),
                                       'Winnings' : temp.Winnings.sum(),
                                      'total_buyin' : temp.total_buyin.sum(), 
                                      'time_started' : temp.time_started.mean(),
                                      'time_ended' : temp.time_ended.mean(), 
                                      'days_since_start' : temp.days_since_start.mean(),
                                      'tournaments_played' : len(temp)},
                                         index = [idx])
            result = result.append(single_row)
            idx += 1
        consider += 7 
        result['ROI'] = 100 * result['NetWinnings'] / result['total_buyin'] 
    return result

In [209]:
weekly = weekly_df(df)

In [210]:
weekly

,percent_mtt,SpeedType,TournamentSize,TableSize,StartingStacks,NetWinnings,Winnings,total_buyin,time_started,time_ended,days_since_start,tournaments_played,ROI
0,1.000000,1.428571,24.285714,9.000000,5392.857143,-580,5360,5940,9.002381,10.447619,2.357143,14,-9.764310
1,1.000000,1.272727,23.727273,9.000000,6909.090909,-4991,1719,6710,7.719697,8.939394,11.272727,11,-74.381520
2,1.000000,1.142857,65.571429,9.000000,5571.428571,1028,3558,2530,6.826190,8.757143,16.571429,7,40.632411
3,1.000000,1.000000,27.666667,9.000000,6500.000000,-1980,0,1980,2.508333,3.930556,22.833333,6,-100.000000
4,0.666667,1.666667,14.000000,7.000000,4500.000000,-640,0,640,9.616667,10.050000,31.333333,3,-100.000000
5,0.250000,1.000000,10.000000,4.500000,1125.000000,-710,0,710,5.120833,5.445833,52.500000,4,-100.000000
6,1.000000,1.000000,23.333333,9.000000,2500.000000,-420,0,420,3.250000,4.255556,58.666667,3,-100.000000
7,1.000000,1.000000,29.333333,9.000000,3000.000000,-97,233,330,3.488889,4.833333,66.000000,3,-29.393939
8,1.000000,1.000000,22.500000,9.000000,5750.000000,-1100,0,1100,1.925000,3.108333,74.000000,2,-100.000000
9,1.000000,1.000000,25.000000,9.000000,3000.000000,-110,0,110,3.450000,4.083333,86.000000,1,-100.000000
10,1.000000,1.000000,27.500000,9.000000,2250.000000,-220,0,220,3.475000,4.708333,101.500000,2,-100.000000
11,1.000000,1.000000,24.000000,9.000000,3000.000000,-110,0,110,3.450000,4.283333,118.000000,1,-100.000000
12,1.000000,1.000000,16.000000,9.000000,1500.000000,-110,0,110,14.166667,15.366667,173.000000,1,-100.000000
13,0.857143,1.000000,13.928571,9.000000,1500.000000,-244,1296,1540,14.053571,13.266667,176.857143,14,-15.844156
14,0.888889,1.000000,14.666667,9.000000,1500.000000,468,1458,990,15.959259,15.957407,184.666667,9,47.272727
15,1.000000,1.000000,16.000000,9.000000,1500.000000,-110,0,110,3.483333,4.866667,194.000000,1,-100.000000
16,1.000000,1.000000,12.000000,9.000000,1500.000000,0,0,0,16.500000,17.116667,220.000000,1,NaN
17,0.666667,1.000000,15.333333,7.000000,1500.000000,104,324,220,14.116667,14.888889,228.333333,3,47.272727
18,1.000000,1.500000,18.250000,9.000000,3625.000000,527,1187,660,15.845833,11.162500,234.500000,4,79.848485
19,1.000000,1.000000,16.000000,9.000000,1500.000000,-110,0,110,20.200000,20.800000,242.000000,1,-100.000000
20,1.000000,1.000000,18.000000,9.000000,1500.000000,592,702,110,19.550000,21.733333,247.000000,1,538.181818
21,1.000000,3.000000,34.500000,9.000000,10000.000000,-660,0,660,5.283333,6.050000,254.500000,2,-100.000000
22,0.000000,1.000000,3.000000,3.000000,500.000000,-100,200,300,15.597222,15.750000,276.333333,6,-33.333333
23,0.000000,1.000000,3.000000,3.000000,500.000000,-100,100,200,5.633333,5.754167,282.500000,4,-50.000000
24,0.277778,1.055556,8.805556,4.666667,1430.555556,-1865,1745,3610,13.856481,13.663889,305.583333,36,-51.662050
25,0.272727,1.181818,9.363636,4.636364,1863.636364,-1300,200,1500,10.800000,9.139394,309.363636,11,-86.666667
26,0.190476,1.523810,8.809524,4.857143,1214.285714,-169,1566,1735,11.419048,10.703175,318.619048,21,-9.740634
27,0.400000,1.500000,15.400000,8.700000,2600.000000,-1240,405,1645,9.155000,10.158333,323.900000,10,-75.379939
28,1.000000,1.000000,52.000000,9.000000,5000.000000,934,1154,220,6.866667,11.700000,329.000000,1,424.545455
29,0.500000,2.250000,13.375000,8.250000,3437.500000,-128,1182,1310,9.241667,9.933333,338.875000,8,-9.770992
30,1.000000,2.000000,31.500000,9.000000,5750.000000,208,648,440,4.116667,5.391667,345.000000,2,47.272727
31,0.444444,1.222222,10.666667,5.666667,1888.888889,-460,450,910,14.425926,14.920370,352.777778,9,-50.549451
32,0.384615,2.076923,17.000000,7.615385,1769.230769,5372,7932,2560,15.112821,14.106410,360.538462,13,209.843750
33,0.038462,3.423077,8.051282,6.576923,814.102564,-984,11071,12055,12.726496,12.124359,366.358974,78,-8.162588
34,0.015152,2.969697,6.121212,6.090909,1000.000000,5550,25840,20290,13.896212,13.493939,374.803030,66,27.353376
35,0.500000,2.500000,1145.500000,7.500000,1000.000000,57,162,105,2.641667,3.350000,379.500000,2,54.285714
36,0.000000,2.842105,6.000000,6.000000,1078.947368,-1205,5410,6615,14.921930,10.202632,389.052632,19,-18.216175
37,0.000000,2.617021,5.936170,5.936170,1170.212766,-850,17050,17900,9.648227,8.953901,395.234043,47,-4.748603
38,0.095238,2.690476,14.285714,6.357143,1619.047619,1071,15296,14225,10.136905,9.989286,402.142857,42,7.528998
39,0.026316,2.421053,32.526316,6.157895,1263.157895,3905,21090,17185,5.253947,5.745614,408.421053,38,22.723305
40,0.106061,2.666667,52.075758,6.363636,1681.818182,-615,23780,24395,7.368434,7.771212,416.090909,66,-2.521008
41,0.076923,2.871795,14.000000,6.461538,1512.820513,1871,13706,11835,8.196154,7.977350,421.538462,39,15.809041
42,0.181818,2.931818,28.068182,6.545455,2659.090909,2416,17256,14840,7.807955,8.222348,429.681818,44,16.280323
43,0.053333,3.480000,15.213333,6.160000,1120.000000,690,17045,16355,8.340222,8.316222,436.760000,75,4.218893
44,0.016393,3.770492,7.262295,6.098361,598.360656,-373,7772,8145,9.629781,9.864481,444.426230,61,-4.579497
45,0.025641,3.846154,6.128205,6.000000,576.923077,-125,5230,5355,9.694017,9.900000,450.717949,39,-2.334267
46,0.000000,3.920000,6.000000,6.000000,560.000000,2450,8540,6090,11.014000,11.224667,457.820000,50,40.229885
47,0.000000,3.696429,6.000000,6.000000,642.857143,3115,12580,9465,8.485119,8.720833,464.107143,56,32.910724
48,0.000000,4.000000,6.000000,6.000000,500.000000,-210,0,210,4.216667,4.308333,469.000000,2,-100.000000

array([ 7,  8,  9, 10, 11, 12, 13])

,TournamentNumber,Tag,BuyIn,Rake,SpeedType,TablesQty,TournamentSize,TableSize,StartingStacks,FirstHandTimestamp,LastHandTimestamp,PlayerEndPosition,Winnings,Rebuy,NetWinnings,ROI,total_buyin,time_started,time_ended,date,days_since_start
0,459742,MTT,100,10,1,2,18,9,1500,2019-10-24 03:08:08,2019-10-24 04:45:45,1,972,0,862,783.6363636363636,110,3.133333,4.750000,2019-10-24,0
18,590440,MTT,300,30,3,2,18,9,10000,2019-10-24 05:38:11,2019-10-24 06:09:01,50,0,0,-330,-100.0,330,5.633333,6.150000,2019-10-24,0
36,4195484,MTT,500,50,1,1,9,9,1500,2019-10-24 15:32:24,2019-10-24 16:06:44,21,0,0,-550,-100.0,550,15.533333,16.100000,2019-10-24,0
45,1377658,MTT,100,10,1,2,13,9,1500,2019-10-24 16:21:48,2019-10-24 17:17:13,13,0,0,-110,-100.0,110,16.350000,17.283333,2019-10-24,0
58,2753680,MTT,100,10,1,2,12,9,1500,2019-10-24 20:25:41,2019-10-24 21:16:48,13,0,0,-110,-100.0,110,20.416667,21.266667,2019-10-24,0
70,525994,MTT,500,50,1,7,58,9,10000,2019-10-25 00:32:50,2019-10-25 04:41:29,22,1312,0,762,138.54545454545453,550,0.533333,4.683333,2019-10-25,1
128,132212,MTT,700,70,2,3,27,9,10000,2019-10-26 02:32:38,2019-10-26 03:37:23,63,200,0,-570,-74.02597402597402,770,2.533333,3.616667,2019-10-26,2
155,459824,MTT,100,10,1,2,16,9,1500,2019-10-26 15:32:18,2019-10-26 16:10:37,9,0,0,-110,-100.0,110,15.533333,16.166667,2019-10-26,2
171,525150,MTT,700,70,2,5,42,9,10000,2019-10-28 02:32:52,2019-10-28 04:46:15,42,1195,0,425,55.1948051948052,770,2.533333,4.766667,2019-10-28,4
213,459164,MTT,100,10,1,2,15,9,1500,2019-10-28 15:23:21,2019-10-28 16:07:51,7,0,0,-110,-100.0,110,15.383333,16.116667,2019-10-28,4
228,394982,MTT,700,70,1,4,30,9,5000,2019-10-28 18:32:50,2019-10-28 20:46:15,33,200,0,-570,-74.02597402597402,770,18.533333,20.766667,2019-10-28,4
258,459960,MTT,700,70,2,2,18,9,10000,2019-10-29 02:31:45,2019-10-29 03:23:20,7,0,0,-770,-100.0,770,2.516667,3.383333,2019-10-29,5
276,459952,MTT,100,10,1,2,18,9,1500,2019-10-29 04:46:01,2019-10-29 06:21:17,24,216,0,106,96.36363636363636,110,4.766667,6.350000,2019-10-29,5
294,1180056,MTT,700,70,2,6,46,9,10000,2019-10-30 02:38:50,2019-10-30 04:52:42,33,1265,0,495,64.28571428571429,770,2.633333,4.866667,2019-10-30,6

,percent_mtt,SpeedType,TournamentSize,TableSize,StartingStacks,NetWinnings,total_buyin,time_started,time_ended,days_since_start
0,1.0,1.428571,24.285714,9.0,5392.857143,-580,5940,9.002381,10.447619,2.357143