In [1]:
import pandas as pd
from datetime import datetime
import numpy as np 
from src.datacleaning.df_prep import remove_unused_columns
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('/home/sam/Documents/DSI/capstone/poker/data/updated_DF.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54304 entries, 0 to 54303
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 54304 non-null  int64
 1   HandHistoryId              54304 non-null  int64
 2   HandNumber                 54304 non-null  int64
 3   PokerSiteId                54304 non-null  int64
 4   HandHistory                54304 non-null  object
 5   HandHistoryTimestamp       54304 non-null  object
 6   GameType                   54304 non-null  int64
 7   TournamentNumber           39551 non-null  float64
 8   buyin                      54304 non-null  float64
 9   cash_or_tourn              54304 non-null  object
 10  my_blind_anti_total        54304 non-null  float64
 11  my_cards                   53293 non-null  object
 12  starting_stack             53293 non-null  float64
 13  tournament_type            39551 non-null  object
 14  won                        54304 non-null  float64
 15  bet                        53293 non-null  float64
 16  total_players              54304 non-null  int64
 17  position                   53293 non-null  float64
 18  table_max_players          54304 non-null  int64
 19  hour                       54304 non-null  int64
 20  year_month_day             54304 non-null  object
 21  days_since_start           54304 non-null  int64
 22  hand_frequency             54304 non-null  int64
 23  blinds                     54304 non-null  object
 24  made_money                 54304 non-null  int64
 25  card_rank                  54304 non-null  float64
 26  BB                         54128 non-null  float64
 27  BB_in_stack                53123 non-null  float64
 28  net_outcome                53293 non-null  float64
 29  all_in                     53293 non-null  float64
 30  money_beyond_blind         54304 non-null  int64
 31  outcome_relative_to_start  53293 non-null  float64
 32  flop_bet                   54304 non-null  float64
 33  turn_bet                   54304 non-null  float64
 34  river_bet                  54304 non-null  float64
 35  preflop_bet                53293 non-null  float64
 36  high_card                  53284 non-null  float64
 37  low_card                   53284 non-null  float64
 38  suited                     54304 non-null  int64
 39  pocket_pair                54304 non-null  int64
 40  gap                        53284 non-null  float64
dtypes: float64(20), int64(14), object(7)
memory usage: 17.0+ MB

In [13]:
df['test'] = df['HandHistoryTimestamp'].apply(lambda x: pd.to_datetime(x) - timedelta(hours=6))

,buyin,my_blind_anti_total,starting_stack,won,bet,made_money,total_players,card_rank,position,BB,BB_in_stack,net_outcome,all_in,money_beyond_blind,hour,days_since_start,hand_frequency,flop_bet,turn_bet,river_bet,preflop_bet,high_card,suited,pocket_pair,gap,low_card,table_max_players,outcome_relative_to_start
0,1.10,20.0,1500.0,0.0,20.0,0,9,0.5,0.222222,20.0,75.00,-20.0,0.0,0,3,0,2215,0.0,0.0,0.0,0.0,5.0,0,0,3.0,2.0,9,0.986667
1,1.10,10.0,1480.0,640.0,420.0,1,9,9.0,0.111111,20.0,74.00,220.0,0.0,1,3,0,2215,320.0,0.0,0.0,90.0,9.0,0,1,0.0,9.0,9,1.148649
2,1.10,0.0,1700.0,0.0,0.0,0,9,3.0,1.000000,20.0,85.00,0.0,0.0,0,3,0,2215,0.0,0.0,0.0,0.0,13.0,0,0,10.0,3.0,9,1.000000
3,1.10,0.0,1700.0,0.0,0.0,0,8,5.5,0.875000,20.0,85.00,0.0,0.0,0,3,0,2215,0.0,0.0,0.0,0.0,9.0,0,0,1.0,8.0,9,1.000000
4,1.10,0.0,1700.0,0.0,0.0,0,8,2.0,0.750000,20.0,85.00,0.0,0.0,0,3,0,2215,0.0,0.0,0.0,0.0,12.0,0,0,5.0,7.0,9,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54299,5.25,200.0,1850.0,700.0,1850.0,0,2,7.0,0.500000,200.0,9.25,-1150.0,1.0,1,14,523,760,0.0,0.0,0.0,1650.0,14.0,1,0,11.0,3.0,6,0.378378
54300,5.25,100.0,196.0,0.0,100.0,0,2,3.0,1.000000,200.0,0.98,-100.0,0.0,0,14,523,760,0.0,0.0,0.0,0.0,6.0,0,0,2.0,4.0,6,0.489796
54301,5.25,100.0,700.0,0.0,100.0,0,2,4.0,1.000000,200.0,3.50,-100.0,0.0,0,14,523,760,0.0,0.0,0.0,0.0,8.0,0,0,2.0,6.0,6,0.857143
54302,5.25,96.0,96.0,0.0,96.0,0,2,5.0,0.500000,NaN,NaN,-96.0,1.0,0,14,523,760,0.0,0.0,0.0,0.0,14.0,0,0,7.0,7.0,6,0.000000
54303,5.25,200.0,600.0,0.0,600.0,0,2,8.0,0.500000,200.0,3.00,-600.0,1.0,1,14,523,760,0.0,0.0,0.0,400.0,12.0,1,0,2.0,10.0,6,0.000000

In [ ]:
df.HandHistory.iloc[49241]

In [ ]:
df['test'] = df.HandHistory.apply(lambda x: position(x))

In [ ]:
def no_dealer(x, pos_lst):
    for elem in x:
        if 'type="1"' in elem and '[cards]' in elem:# finds SB
            for sub_string in elem.split(): # iterates through SB to find player name
                if 'player=' in sub_string():
                    SB = sub_string.replace('player="', '').replace('"','')
                    break
    for idx, elem in enumerate(pos_lst): # iterate through pos_lst to get SB position
        if SB in elem:
            SB_idx = idx
            break
    if SB_idx == 0:
        dealer_pos = len(pos_lst) - 1
    else:
        dealer_pos = SB_idx - 1

In [ ]:
def position(x):
    pos_lst = []
    dealer_pos = 0
    dealer_exists = False
    hero_counter = 0
    hero_found = False
    result = None 
    hero_pos = 0
    SB = ''
    for elem in x: # find all initial seatings
        if 'dealer' in elem:
            pos_lst.append(elem)

            
    for idx, elem in enumerate(pos_lst):
        if 'dealer="1"' in elem:
            dealer_pos = idx
            dealer_exists = True
            break
        
    if dealer_exists == False:
        for elem in x:
            if 'type="1"' in elem and '[cards]' in elem:# finds SB
                for sub_string in elem.split(): # iterates through SB to find player name
                    if 'player=' in sub_string:
                        SB = sub_string.replace('player="', '').replace('"','')
                        break
        for idx, elem in enumerate(pos_lst): # iterate through pos_lst to get SB position
            if SB in elem:
                SB_idx = idx
                break
        if SB_idx == 0:
            dealer_pos = len(pos_lst) - 1 # if SB is the 1st in list
        else:
            dealer_pos = SB_idx - 1 # otherwise just backstep 1
            
    if dealer_pos != len(pos_lst) - 1: # if dealer isn't in last position
        beginning = pos_lst[dealer_pos + 1 : ] # subset so lists are sequential
        rest = pos_lst[ : dealer_pos + 1]
        for elem in beginning: # first part of list
            if 'name="Hero"' in elem: # in the case of hero being found
                hero_counter += 1
                hero_pos = hero_counter
                hero_found = True 
                break 
            else:
                hero_counter += 1
        if hero_found == False: # if hero not found in first iteration
            for elem in rest:
                if 'name="Hero"' in elem:
                    hero_counter += 1
                    hero_pos = hero_counter
                    hero_found = True
                    break
                else:
                    hero_counter += 1
    else:
        for elem in pos_lst: # in the event the dealer is in last position
            if 'name="Hero"' in elem:
                hero_counter += 1
                hero_pos = hero_counter
                hero_found = True
                break
            else:
                hero_counter += 1

    if hero_found:
        result = hero_pos / len(pos_lst) # divides position by total number of players
            
    return result

In [ ]:
df.HandHistory.iloc[49287].split("\', \'")

In [ ]:
df.columns

In [ ]:
mask = df['river_bet'] > 0
subset = df[mask]
subset

In [ ]:
df.HandHistory.iloc[49080]

In [ ]:
df['gap'] = df['my_cards'].apply(lambda x: gap(x))

In [ ]:
df['low_card'] = df.my_cards.apply(lambda x: low_card(x))